/* *** TEMPORARY CODE *** */
/* Styling for RNG tab button */
#rng-button {
  background-color: rgb(35, 33, 33);
  color: rgb(175, 228, 249);
}

/* Styling for List Randomizer button 
#list-button {
  background-color: rgb(44, 42, 42);
}

/* Roboto Medium font */
@font-face {
  src: url(fonts/Roboto/Roboto-medium.ttf);
  font-family: roboto-medium;
}

/* Oswald Regular font */
@font-face {
  src: url(fonts/Oswald/static/Oswald-Regular.ttf);
  font-family: oswald-regular;
}

/* Styling for body and HTML */
body, html {
  background-color: rgb(41, 39, 39);
  margin: 0;
  font-family: oswald-regular;
}

/* Styling for h1 tag */
h1 {
  display: none;
}

/* Styling for tab buttons */
.tab-button {
  color: white;
  width: 100%;
  height: 100px;
  padding: 10px;
  border: solid rgb(20, 19, 19) 4px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: none;
  font-family: oswald-regular;
  font-size: 30px;
  text-shadow: 3px 3px black;
}

.tab-button:first-child {
  border-top: solid rgb(20, 19, 19) 4px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
}

.tab-button:hover {
  cursor: pointer;
}

/* Styling for unselected tab */
.tab-unselected:hover {
  background-color: rgb(58, 56, 56)!important;
}

/* Styling for wrapper */
.wrapper {
  padding-top: 25px;
  text-align: center;
}

/* Styling for tab div content */
.tab-div {
  color: white;
  display: none;
  height: 100%;
  margin: 0 auto;
}

/* Styling for result label */
#result-label {
  font-size: 45px;
  text-shadow: 3px 3px black;
}

/* Styling for RNG result */
#result {
  background-color: rgb(49, 47, 47);
  width: 265px;
  height: 150px;
  margin: 20px auto;
  border: solid black 2px;
  border-radius: 15px;
  text-align: center;
  font-family: roboto-medium;
  font-size: 60px;
  text-shadow: 3px 3px black;
  line-height: 150px;
}

/* Styling for min and max labels */
#min-label, #max-label {
  margin-bottom: 20px;
  font-size: 30px;
  text-shadow: 3px 3px black;
}

/* Styling for min and max inputs */
#min, #max {
  color: white;
  background-color: rgb(41, 39, 39);
  width: 175px;
  height: 50px;
  margin-bottom: 20px;
  position: relative;
  top: 2px;
  border: none;
  border-bottom: solid rgb(178, 178, 224) 3px;
  outline: none;
  text-align: center;
  font-family: roboto-medium;
  font-size: 35px;
}

/* Styling for list label */
#list-label {
  font-size: 45px;
  text-shadow: 3px 3px black;
}

/* Styling for list input */
#list-input {
  color: white;
  background-color: rgb(49, 47, 47);
  width: 250px;
  height: 250px;
  margin-top: 20px;
  padding: 12px;
  font-family: roboto-medium;
  font-size: 20px;
  text-shadow: 3px 3px black;
  line-height: 32px;
  border: solid black 2px;
  border-radius: 15px;
  outline: none;
  resize: none;
}

/* Styling for RNG and list randomizer buttons */
#randomize, #generate-button {
  color: white;
  background-color: rgb(178, 178, 224);
  width: 300px;
  height: 50px;
  margin: 15px 0px;
  font-family: oswald-regular;
  font-size: 24px;
  text-shadow: 2px 2px black;
  border: solid black 4px;
  border-radius: 10px;
}

#randomize:hover, #generate-button:hover {
  cursor: pointer;
  background-color: rgb(156, 156, 212);
}

/* Styling for Randomized List Table */
#list-table {
  width: 100%;
  font-size: 22px;
  line-height: 45px;
}

/* Styling for different widths */
@media only screen and (min-width: 800px) {
  /* Styling for h1 */
  h1 {
    display: block;
    color: white;
    margin: 10px;
    text-align: center;
    font-family: oswald-regular;
    font-size: 145px;
    text-shadow: 8px 8px black;
  }

  /* Styling for button div */
  .button-div {
    height: 80px;
    margin-top: 20px;
    text-align: center;
  }

  /* Styling for tab buttons */
  .tab-button {
    width: 300px;
    font-size: 27px;
    margin-top: -0px;
    margin-left: -4px;
    position: relative;
    right: -2px;
    border: solid rgb(20, 19, 19) 4px;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
  }

  /* Styling for tab div content */
  .tab-div {
    background-color: rgb(32, 30, 30);
    width: 592px;
    position: relative;
    top: -5px;
    border: solid rgb(20, 19, 19) 4px;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  /* Styling for unselected tab */
  .tab-unselected {
    position: relative;
    top: -2px;
    border-bottom: solid rgb(20, 19, 19) 4px;
  }

  /* Styling for result label */
  #result-label {
    line-height: 110px;
  }

  /* Styling for RNG result */
  #result {
    margin: 0 auto 20px;
  }

  /* Styling for list label */
  #list-label {
    line-height: 110px;
  }

  /* Styling for list input */
  #list-input {
    color: white;
    background-color: rgb(49, 47, 47);
    width: 300px;
    height: 300px;
    margin-top: 20px;
    padding: 20px;
    font-family: roboto-medium;
    font-size: 25px;
    text-shadow: 3px 3px black;
    line-height: 32px;
    border: solid black 2px;
    border-radius: 15px;
    outline: none;
    resize: none;
    margin-top: 0px;
  }

  /* Styling for Randomized List Table */
  #list-table {
    font-size: 24px;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 1200px) {
  /* Styling for h1 */
  h1 {
    margin: -25px auto;
  }
}