/* Roboto Medium font */
@font-face {
  src: url(fonts/Roboto/Roboto-medium.ttf);
  font-family: roboto-medium;
}

/* Oswald Regular font */
@font-face {
  src: url(fonts/Oswald/static/Oswald-Regular.ttf);
  font-family: oswald-regular;
}

/* Styling for body and HTML */
body, html {
  background-color: rgb(41, 39, 39);
  margin: 0;
  font-family: oswald-regular;
}

/* Styling for tab buttons */
.tab-button {
  color: white;
  width: 50%;
  height: 100px;
  padding: 10px;
  float: left;
  border: none;
  font-family: oswald-regular;
  font-size: 25px;
}

.tab-button:hover {
  cursor: pointer;
}

/* Styling for RNG tab button */
#rng-button {
  background-color: rgb(41, 39, 39);
}

/* Styling for List Randomizer button */
#list-button {
  background-color: rgb(35, 34, 34);
}

/* Styling for unselected tab */
.tab-unselected:hover {
  background-color: rgb(58, 56, 56)!important;
}

/* Styling for wrapper */
.wrapper {
  padding-top: 200px;
  text-align: center;
}

/* Styling for tab div content */
.tab-div {
  color: white;
  display: none;
  height: 100%;
  margin: 0 auto;
}

/*
#rng {
  background-color: blue;
  width: 300px;
  height: 200px;
}*/

/* Styling for RNG result */
#result {
  width: 200px;
  height: 150px;
  margin: 0 auto;
  background-color: green;
  font-size: 25px;
  font-family: roboto-medium;
  line-height: 150px;
}

/* Styling for Randomized List Table */
#list-table {
  width: 100%;
}